<div class="min-vh w:full box-border flex items-center justify-center p:lg bg:canvas text:body">
    <div class="mx:auto w:full max-w:md overflow:hidden surface:base b:1px|solid|base r:lg shadow:lg font:sm">
        <div class="p:xl p:2xl@sm">
            <img class="block@light hidden mt:md mb:xl mx:auto max-w:full" src="/images/css-logotype@light.svg" alt="Master CSS Play" width="200" height="24" />
            <img class="block@dark hidden mt:md mb:xl mx:auto max-w:full" src="/images/css-logotype@dark.svg" alt="Master CSS Play" width="200" height="24" />
            <p class="m:0">A real-time code editor for Master CSS, including:</p>
            <ul class="m:0 mt:sm p:0 list-style:none grid gap:sm">
                <li class="flex text:strong font:medium">Rendering with your custom CSS.</li>
                <li class="flex text:strong font:medium">Previewing results without reloading.</li>
                <li class="flex text:strong font:medium">Resizing devices for responsive design.</li>
                <li class="flex text:strong font:medium">Sharing your masterpiece.</li>
            </ul>
            <p class="m:0 mt:sm">Here you can quickly create demos, ideas, prototypes, and even use it for learning.</p>
        </div>
        <div class="bt:1px|dotted|base p:lg p:xl@sm pt:md@sm">
            <p class="m:0 italic font:xs text:muted">Don't know how to use Master CSS syntax yet?</p>
            <a class="rel w:full h:48px box-border mt:md inline-flex items-center justify-center px:lg bg:blue bg:blue/.9:hover fg:white b:1px|solid|base r:sm font:sm font:medium text-center text-decoration:none transition:all|fast|smooth" href="/guide/introduction">
                Learn syntax
                <svg class="abs right:md" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path class="opacity:0 opacity:1:of(a:hover) transform:scale(0) transform:scale(1):of(a:hover) transform-origin:5x|center transition:all|fast|smooth" d="M5 12l14 0"></path>
                    <path d="M13 18l6 -6"></path>
                    <path d="M13 6l6 6"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
