.light { color-scheme: light; }
.dark { color-scheme: dark; }

@theme { :root, :host {
  --color-master: var(--color-yellow-40);
  --color-master-hover: var(--color-yellow-50);
  --color-master-ink: var(--color-yellow-95);
} }


@layer components {
  .btn {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    border-radius: var(--radius-sm);
    padding-inline: var(--spacing-lg);
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 1px solid var(--color-master-hover);
    transition: all var(--duration-fast) var(--easing-smooth);
    background-color: var(--color-master);
    color: var(--color-master-ink);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    margin-top: var(--spacing-md);
    height: 48px;
    width: 100%;

    &:hover {
      background-color:var(--color-master-hover);
    }

    &:hover .btn-arrow-line {
      opacity: 1;
      transform: scale(1);
    }
  }

  .btn-icon {
    position: absolute;
    right: var(--spacing-md);
  }

  .btn-arrow-line {
    transition: all var(--duration-fast) var(--easing-smooth);
    transform-origin: 1.25rem center;
    opacity: 0;
    transform: scale(0);
  }
}
