
@theme {:root, :host {
  --color-primary: #ff0000;
}}


@theme { @media (prefers-color-scheme: light) { :root, :host {
  --color-primary: #000000;
} } }


@theme { @media (prefers-color-scheme: dark) { :root, :host {
  --color-primary: #ffffff;
} } }
