
@theme {
  --color-primary: #ff0000;
}




@media (prefers-color-scheme: light) { :root, :host {
  --color-primary: #000000;
} }




@media (prefers-color-scheme: dark) { :root, :host {
  --color-primary: #ffffff;
} }
