@theme {:root, :host {
  --full: 100%;
}}


@theme {:root, :host {
  --spacing-md: 20;
}}


@theme {:root, :host {
  --color-black: #000;
}}


@theme {:root, :host {
  --color-primary: var(--color-black);
}}
