@import '../better-text-appearance.css';
@import '../eliminate-click-delays.css';
@import '../improve-user-recognition.css';
@import '../intuitive-sizing-control.css';
@import '../readable-tab-size.css';
@import '../responsive-media-elements.css';

/* consistent */
@import '../consistent-abbreviation-styles.css';
@import '../consistent-bold-styles.css';
@import '../consistent-control-styles.css';
@import '../consistent-horizontal-lines.css';
@import '../consistent-small-styles.css';
@import '../consistent-superscript-subscript.css';
@import '../consistent-table-styles.css';

/* remove */
@import '../remove-anchor-styles.css';
@import '../remove-control-styles.css';
@import '../remove-default-borders.css';
@import '../remove-default-spacing.css';
@import '../remove-tap-highlight.css';
@import '../remove-list-styles.css';