@import '@master/normal.css';
@import '~/public/fonts/inter.css';
@import '~/public/fonts/fira-code.css';

.demo,
.grids-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(0 0 0 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.dark .demo,
.dark .grids-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255/ 0.015)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}