# See http://help.github.com/ignore-files/ for more about ignoring files.

.parcel-cache

# compiled output
/dist
/tmp
/out-tsc

# monorepo
**/*dist
**/*dist-test
**/*node_modules
**/*.turbo
**/*out
**/*tmp
**/*master.css
**/*test.html
**/*.test.html
**/*tsconfig.tsbuildinfo
**/*.virtual

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

packages/css/**/*master.css.*
packages/css/**/*master.*
packages/extractor/**/*master.css-extractor.*
packages/extractor/**/*master.css.*
packages/extractor.vite/tests/vite/index.html
packages/extractor.vite/tests/vite/master.css.*
packages/extractor.webpack/tests/webpack/src/index.html
packages/extractor.webpack/tests/webpack/src/master.css.*

**/*/cache