code,
.f\:mono,
.font\:mono {
    font-feature-settings: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Light.woff2') format('woff2'),
        url('/fonts/FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
        url('/fonts/FiraCode-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Medium.woff2') format('woff2'),
        url('/fonts/FiraCode-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-SemiBold.woff2') format('woff2'),
        url('/fonts/FiraCode-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Bold.woff2') format('woff2'),
        url('/fonts/FiraCode-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url('/fonts/FiraCode-VF.woff2') format('woff2-variations'),
        url('/fonts/FiraCode-VF.woff') format('woff-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
