@font-face {
  font-family: Geist;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/GeistVariable.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("/fonts/IBMPlexMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("/fonts/IBMPlexMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/IBMPlexMono-Bold.woff2") format("woff2");
}
