@import "@master/css";
@custom-media --md (width >= 48rem);

@theme {:root, :host {
  --color-brand: #123;

}}



  @utility card {
    background-color:var(--color-brand);
    @variant md {
      font-size:1.125rem;
    }
    border-color: #456;
  }
