@master;

@theme {
    --color-brand: #123;
    --breakpoint-md: 768;
}

@components {
    card {
        @compose "bg:brand";
        @variant @md {
            @compose "font:18";
        }
        border-color: #456;
    }
}
