@theme {
    --color-brand: #123;
    --breakpoint-md: 768;
}

@layer components {
    .card {
        @compose "bg:brand";
        @at md {
            @compose "font:18";
        }
        border-color: #456;
    }
}
