@theme {
  --color-brand: #123;
  --breakpoint-md: 48rem;
}



  @mixin --card {
    background-color:var(--color-brand);
    @media (--md) {
      font-size:1.125rem;
    }
    border-color: #456;
  }
