<div class="min-vh p:30 flex center-content">
    <div
         class="max-w:520 shadow:x3 outline:1|solid|ring bg:panel m:auto r:10 fg:neutral text:16_:where(p,li) mt:1.5em_:where(p,ul) my:.75em_:where(li)">
        <div class="p:50|50|25|50">
            <img class="mx:auto mb:40 hide block@light" src="/images/sandbox-logotype@light.svg"
                 alt="Master CSS Play" width="200" />
            <img class="mx:auto mb:40 hide block@dark" src="/images/sandbox-logotype@dark.svg"
                 alt="Master CSS Play"
                 width="200" />
            <p class="fg:neutural">An online code editor using Master CSS Runtime Rendering, including:</p>
            <ul>
                <li class="flex fg:major font:medium">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="mr:10 flex:0|0|auto stroke:primary fill:primary/.2" width="26" height="26"
                         viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                              d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z">
                        </path>
                    </svg>
                    Rendering with your custom configuration.
                </li>
                <li class="flex fg:major font:medium">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="mr:10 flex:0|0|auto stroke:primary fill:primary/.2" width="26" height="26"
                         viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                              d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z">
                        </path>
                    </svg>
                    Previewing results without reloading.
                </li>
                <li class="flex fg:major font:medium">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="mr:10 flex:0|0|auto stroke:primary fill:primary/.2" width="26" height="26"
                         viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                              d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z">
                        </path>
                    </svg>
                    Resizing devices for responsive design.
                </li>
                <li class="flex fg:major font:medium">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="mr:10 flex:0|0|auto stroke:primary fill:primary/.2" width="26" height="26"
                         viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                              d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z">
                        </path>
                    </svg>
                    Sharing your masterpiece.
                </li>
            </ul>
            <p class="fg:neutural">Here you can quickly create demos, ideas, prototypes, and even for learning.</p>
        </div>
        <div class="p:25|50|50|50 bt:1|dotted|divider">
            <p class="text:12 italic mt:0 fg:neutural">Don't know how to use Master CSS syntax yet?</p>
            <a class="btn w:full mt:20 rel" href="https://beta.css.master.co/docs/syntax" target="_blank"
               rel="noreferrer noopener">
                Learn syntax
                <svg class="abs right:15" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                          class="~ease|.1s opacity:0 scale(0) .btn:hover_{opacity:1;scale(1)} transform-origin:20|center"
                          d="M5 12l14 0"></path>
                    <path d="M13 18l6 -6"></path>
                    <path d="M13 6l6 6"></path>
                </svg>
            </a>
        </div>
    </div>
</div>