@layer base, theme, preset, components, general;

@layer base {
    .list-style\:none_ul\@base ul {
        list-style: none
    }
}

@layer theme {

    .light,
    :root {
        --primary: 0 0 0
    }

    .dark {
        --primary: 255 255 255
    }
}

@layer preset {
    .text\:16_p\@preset p {
        font-size: 1rem;
        line-height: calc(1rem + 0.875em)
    }
}

@layer components {
    .btn {
        display: inline-flex;
        background-color: rgb(var(--primary))
    }
}

@layer general {
    .flex {
        display: flex
    }

    .\@fade\|1s {
        animation: fade 1s
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}