@custom-at all @media all;
@custom-at print @media print;
@custom-at screen @media screen;
@custom-at speech @media speech;
@custom-at landscape @media (orientation: landscape);
@custom-at portrait @media (orientation: portrait);
@custom-at motion @media (prefers-reduced-motion: no-preference);
@custom-at reduce-motion @media (prefers-reduced-motion: reduce);

@custom-at base @layer base;
@custom-at default @layer defaults;
@custom-at component @layer components;
@custom-at utility @layer utilities;

@custom-at start @starting-style;

@custom-at w @media (width);
@custom-at h @media (height);

@custom-selector :first :first-child;
@custom-selector :last :last-child;
@custom-selector :nth-last :nth-last-child;
@custom-selector :even :nth-child(2n);
@custom-selector :odd :nth-child(odd);
@custom-selector :nth :nth-child;
@custom-selector :only :only-child;
@custom-selector :rtl :dir(rtl);
@custom-selector :ltr :dir(ltr);

@custom-selector ::scrollbar ::-webkit-scrollbar;
@custom-selector ::scrollbar-button ::-webkit-scrollbar-button;
@custom-selector ::scrollbar-thumb ::-webkit-scrollbar-thumb;
@custom-selector ::scrollbar-track ::-webkit-scrollbar-track;
@custom-selector ::scrollbar-track-piece ::-webkit-scrollbar-track-piece;
@custom-selector ::scrollbar-corner ::-webkit-scrollbar-corner;
@custom-selector ::slider-thumb ::-webkit-slider-thumb;
@custom-selector ::slider-runnable-track ::-webkit-slider-runnable-track;
@custom-selector ::resizer ::-webkit-resizer;
@custom-selector ::progress ::-webkit-progress;

@custom-selector ::vt ::view-transition;
@custom-selector ::vt-group ::view-transition-group;
@custom-selector ::vt-image-pair ::view-transition-image-pair;
@custom-selector ::vt-old ::view-transition-old;
@custom-selector ::vt-new ::view-transition-new;