@theme {
  --color-black: oklch(0% 0 none);
}

@theme {
  --color-primary: color-mix(in oklab, var(--color-black) 50%, transparent);
}

@theme {
  --color-secondary: color-mix(in oklab, var(--color-primary) 50%, transparent);
}
