<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
</head>

<body class="margin:0">
  <div class="position:absolute width:100% height:100% display:flex justify-content:center align-items:center bg-slate-95@light bg-gray-15@dark">
    <div class="height:fit-content">
      <div class="display:flex justify-content:center align-items:center gap:30px">
        <a href="https://webpack.js.org" target="_blank">
          <img src="<%= require('/assets/webpack.svg') %>" class="width:110px height:110px" alt="Webpack logo" />
        </a>
        <a href="https://css.master.co" target="_blank">
          <img src="<%= require('/assets/master.svg') %>" class="width:172px height:172px" alt="Master logo" />
        </a>
      </div>
      <h1 class="font-size:48px font-family-sans tracking-tight fg-white@dark font-weight-heavy">
        <span class="background-clip:text -webkit-text-fill-color:transparent background-image:linear-gradient(120deg,#1b78bf|30%,#8ed6fb)">Webpack</span>
        <span class="fg-slate-70 margin-inline:10px font-weight-medium">+</span>
        <span>Master CSS</span>
      </h1>
    </div>
  </div>
</body>

</html>
