
@theme {
  --color-black: oklch(0% 0 none);
}

@theme {
  --color-white: oklch(100% 0 none);
}

@theme light {
  --color-focus: var(--color-black);
}

@theme dark {
  --color-focus: var(--color-white);
}

@utilities {
  btn {
    &:focus {
    outline: 0.125rem var(--color-focus) solid;
    }
    &:focus {
    outline-offset: 0.125rem;
    }
  }
}
