@settings {
    mode-trigger: media;
    modes: light dark;
}

@theme {
    --color-black: oklch(0% 0 none);
}

@theme {
    --color-white: oklch(100% 0 none);
}

@theme light {
    --color-focus: $color-black;
}

@theme dark {
    --color-focus: $color-white;
}

@components {
    btn {
        &:focus {
        outline: 0.125rem var(--color-focus) solid;
        }
        &:focus {
        outline-offset: 0.125rem;
        }
    }
}
