@theme {
  --breakpoint-sm: 52.125rem;
}



  @mixin --btn {
    display: inline-flex;
    font-weight: 600;
  } @utility btn {
    display: inline-flex;
    font-weight: 600;
  }
  @mixin --btn-sm {
    border-radius: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.75rem;
    height: 2rem;
  } @utility btn-sm {
    border-radius: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.75rem;
    height: 2rem;
  }
  @mixin --btn-md {
    border-radius: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    height: 2.5rem;
  } @utility btn-md {
    border-radius: 0.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    height: 2.5rem;
  }
