@master;
@import './preset.css';

@layer components {
    .fixture-button {
        display: inline-flex;
        color: oklch(100% 0 none);
        background-color: oklch(63.7% 0.237 25.331);
    }
}
