::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}

[type="search"] {
    appearance: textfield;
    outline-offset: -2px;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}