@components {
    accent {
        outline: 0.0625rem var(--color-accent-line) solid;
        background-color: var(--color-accent);
        color: var(--color-accent-text);
    }

    touch-accent {
        &:hover {
            background-color: var(--color-accent-hover);
        }
    }
}
