@reference "../app/globals.css";

@layer components {
  .yellow {
    outline: 0.0625rem var(--color-yellow-line) solid;
    background-color: var(--color-yellow);
    color: var(--color-on-yellow);
  }

  .touch-yellow {
    &:hover {
      background-color: var(--color-yellow-hover);
    }
  }
}
