@components {
  monaco-editor {
    --vscode-editor-background: transparent !important;
    --vscode-editorGutter-background: transparent !important;
    --vscode-focusBorder: transparent !important;

    .mtku {
      @compose text-decoration:none!;
    }
  }

  shiki {
    @compose rel z:0;

    &.has-focused .line {
      @compose transition:filter|.2s;
      will-change: filter;
    }

    &.has-focused:not(:hover) .line:not(.focus) {
      @compose filter:blur(3px);
    }
  }

  code {
    @compose flex flex-col;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  code-wrapper {
    @compose rel flex:1|1|auto overflow:auto p:4x|0 r:lg surface:muted leading:20px white-space:nowrap;
    counter-reset: line;
    hyphens: none;
    font-size: 13px;

    &:before {
      @compose abs left top h:full;
      content: '';
    }

    .silence {
      @compose text:muted!;
      contain: strict;
    }

    del {
      @compose fg:inherit!;
    }

    .silence * {
      @compose text:muted!;
    }
  }

  code-block {
    @compose block font-size:inherit font:regular leading:inherit min-w:100% w:max white-space:pre word-spacing:normal;
    word-break: normal;

    &::before,
    &::after {
      @compose content:none;
    }
  }

  code-bar {
    @compose flex rtl:lg rtr:lg bb:0px! surface:muted font:xs h:24px;
    overflow-x: auto;

    & + .code-wrapper {
      @compose mt:0 rtl:0px rtr:0px bt:0px;
    }
  }

  code-line-add {
    @compose block bl:2px pl:calc(5x-2px) text:success;

    &:not(:only-child):before {
      content: '+' !important;
    }

    &::before {
      @compose text:success!;
    }

    @light {
      @compose bg:beryl-0;
    }

    @dark {
      @compose bg:beryl-50/.1;
    }
  }

  code-line-remove {
    @compose block bl:2px pl:calc(5x-2px) text:danger;

    &:not(:only-child):before {
      content: '-' !important;
    }

    &::before {
      @compose text:danger!;
    }

    @light {
      @compose bg:crimson-0;
    }

    @dark {
      @compose bg:crimson-50/.1;
    }
  }

  code-line-active {
    @compose block;

    @dark {
      @compose bg:gray-80;
    }

    @light {
      @compose bg:neutral-5;
    }
  }

  line {
    @compose block px:5x;

    &:not(:only-child):before {
      @compose inline-block pr:md text-right ml:-5px text:disabled w:30px font:80%;
      content: counter(line);
      counter-increment: line;
    }
  }

  mark {
    @compose box-decoration-break:clone m:-2px|0 p:2px|0 r:sm;

    &:has(+ .mark) {
      @compose rtr:0px rbr:0px;
    }

    & + .mark {
      @compose rtl:0px rbl:0px;
    }

    @dark {
      @compose fg:var(--shiki-dark);
    }

    @light {
      @compose fg:var(--shiki-light) bg:neutral-10;
    }
  }

  code-mark-warn {
    @compose bg:transparent! text-decoration:underline|yellow|wavy|1px text-underline-offset:2px;
  }

  code-mark-error {
    @compose bg:transparent! text-decoration:underline|red|wavy|1px text-underline-offset:2px;
  }

  flash {
    @compose animation:flash|1s|forwards|ease-in m:-2px|-3px outline:1px|solid|transparent p:2px|3px r:sm;
    contain: strict;
  }
}

@defaults {
  shiki {
    @dark {
      span {
        @compose fg:var(--shiki-dark);
      }
    }

    @light {
      span {
        @compose fg:var(--shiki-light);
      }
    }
  }
}
