@defaults {
  prose {
    h2:has(+:is(h3, section)) {
      @compose font:sm tracking:wide text:body;
    }

    @light {
      :is(p, li, table) code {
        @compose bg:neutral-0;
      }
    }

    @dark {
      :is(blockquote) p {
        @compose fg:inherit;
      }
    }

    :is(p) {
      @compose font:md;
    }

    :is(li) {
      @compose font:sm;
    }

    :is(p, li) {
      @compose leading:xl;
    }

    summary {
      @compose text:sm;
    }

    :is(p, li) {
      @compose max-w:breakpoint-sm;
    }

    :is(h2)+*>h3:first-child {
      @compose mt:1em;
    }

    :is(h2, h3) {
      @compose rel;
    }

    :is(h2, h3):hover>svg {
      @compose visible;
    }

    :is(h2, h3) {
      @compose w:fit;
    }

    :is(a, mark, u) {
      @compose text-underline:3xs;
    }

    :is(p, li, figcaption, summary, td, th) :is(a, u) {
      @compose text-decoration:from-font|underline|accent/.5|dotted;
    }

    :is(p, li, figcaption, td, th) :is(a):hover {
      @compose decoration-solid fg:accent;
    }

    :is(del) {
      @compose text-decoration:from-font|line-through|crimson-60;
    }

    :is(mark) {
      @compose bg:transparent;
    }

    :is(h2, h3) a {
      @compose contents font-weight:inherit;
    }

    :is(h2) {
      @compose text:2xl;
    }

    :is(h3) {
      @compose text:xl;
    }

    :is(h4) {
      @compose text:md;
    }

    :is(h5) {
      @compose text:sm;
    }

    :is(h6) {
      @compose text:sm;
    }

    :is(h2, h3):not(.sr-only)+ :is(h2, h3) {
      @compose mt:.75em;
    }

    :is(h2, h3, h4, h5, h6) code::before {
      content: none !important;
    }

    :is(h2, h3, h4, h5, h6) code::after {
      content: none !important;
    }

    :is(h2, h3, h4, h5, h6) {
      @compose font-weight:460;
    }

    :is(code, th, strong, b) {
      @compose font-weight:460;
    }

    :is(h2, h3, h4, h5, h6, td, th) :is(a, code):not(.code-block) {
      @compose font-weight:inherit;
    }

    :is(p, li, table) code:not(.code-block) {
      @compose p:4xs|3xs r:sm b:1px|solid|muted;
      font-size: small;
    }

    :is(th) {
      @compose text:strong;
    }

    :is(pre) {
      @compose p:20px|25px;
    }

    :is(ul, ol, blockquote) {
      @compose pl:1.25em;
    }

    :is(li) {
      @compose pl:.375em;
    }

    .task-list-item {
      @compose text-indent:-1.75em;
    }

    .task-list-item input {
      @compose size:1em mr:xs;
      vertical-align: middle;
    }

    :is(.code, p, blockquote, ul, ol, details) {
      @compose my:1.125em;
    }

    :is(figure) {
      @compose my:2em;
    }

    :is(li) {
      @compose my:.5625em;
    }

    :is(li) :is(ul, ol, p) {
      @compose my:.5625em;
    }

    :is(figcaption, figure img) {
      @compose mx:auto;
    }

    @variant sm {
      :is(h1, h2, h3, h4, h5, h6) {
        @compose mt:2xl scroll-mt:100px;
      }
    }

    :is(h1, h2, h3, h4, h5, h6) {
      @compose mt:lg scroll-mt:60px;
    }

    :is(ul) {
      @compose list-style:circle;
    }

    .contains-task-list {
      @compose list-style:none;
    }

    :is(strong, b, code, a, mark, h2, h3, h4, summary) {
      @compose text:strong;
    }

    ::marker {
      @compose text:disabled;
    }

    :is(summary) {
      @compose text-indent:-.875em;
    }

    :is(summary) {
      @compose ml:1em;
    }

    :is(blockquote) {
      @compose bl:5px|solid|subtle;
    }

    :is(img) {
      @compose h:auto;
    }

    :is(figcaption) {
      @compose text:sm p:15px|20px|0 w:fit text:muted;
    }

    :is(table) {
      @compose w:full;
    }

    :is(table) {
      @compose border-spacing:0;
    }

    :is(td, th) {
      @compose bb:1px|solid|muted;
    }

    :is(tbody) :is(tr:last-child)> :is(td, th) {
      @compose bb:0px;
    }

    :is(thead) th {
      @compose bb:1px|solid|muted;
    }

    :is(hr) {
      @compose bb:1px|solid|muted my:lg;
    }

    @variant sm {
      :is(hr) {
        @compose my:2xl;
      }
    }

    hr+* {
      @compose mt:0;
    }

    :is(th) {
      @compose text-left;
    }

    :is(td, th):first-child {
      @compose pl:0;
    }

    :is(td, th):last-child {
      @compose pr:0;
    }

    :is(th):first-child {
      @compose white-space:pre;
    }

    :is(td, th) {
      @compose p:.455625em|1.25em;
    }

    :is(table) code {
      @compose font:xs leading:1 font:regular;
    }

    :is(p) code {
      @compose leading:normal;
    }

    :is(th, td) {
      @compose text:sm;
    }

    :is(th, td) {
      vertical-align: baseline;
    }
  }
}
