@reference "../../app/globals.css";

@layer components {
  .scrollbar {
    &::-webkit-scrollbar {
      border-radius: 1e9em;
      width: 0.25rem;
      height: 0.25rem;
      background-color: var(--color-line-subtle);
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1e9em;
      background-color: var(--color-line-subtle);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-line-muted);
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: var(--color-line-base);
    }

    @supports (-moz-appearance: none) {
      scrollbar-width: thin;
    }
  }

  .scrollbar-concealed {
    &:not(:hover)::-webkit-scrollbar {
      visibility: hidden;
    }

    &:not(:hover)::-webkit-scrollbar-thumb {
      visibility: hidden;
    }

    &::-webkit-scrollbar {
      background-color: transparent!important;
    }
  }
}
