@settings {
  mode-trigger: class;
}

@theme {
  --content-hash: " #";
  --content-external: " ↗";
  --font-sans: "Geist", "Noto Sans TC";
  --font-mono: "IBM Plex Mono";
  --font-feature-sans: "ss02", "ss03", "ss04", "ss06", "ss07", "ss08";
  --font-feature-mono: "cv01", "cv02", "cv29";
  --radius-card: 0.75rem;
  --radius-panel: 1rem;

  @keyframes slide-to-right {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }
}

@theme light {
  --stripe: 0 / 7.5px 7.5px linear-gradient(135deg, var(--color-line-muted) 4.5%, transparent 0, transparent 50%, var(--color-line-muted) 0, var(--color-line-muted) 54.5%, transparent 0) transparent;
  --stripe-pink: 0 / 7.5px 7.5px linear-gradient(135deg, --alpha(var(--color-pink) / 40%) 4.5%, --alpha(var(--color-pink) / 5%) 0, --alpha(var(--color-pink) / 5%) 50%, --alpha(var(--color-pink) / 40%) 0, --alpha(var(--color-pink) / 40%) 54.5%, --alpha(var(--color-pink) / 5%) 0, --alpha(var(--color-pink) / 5%));
  --tiny: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='black' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E") center;
  --grid: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(0 0 0 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  --color-primary: var(--color-yellow-40);
  --color-float: var(--color-white);
  --color-text-primary: var(--color-yellow-90);
  --color-accent: var(--color-yellow-60);
  --color-focus: var(--color-yellow-60);
  --color-success: var(--color-green-40);
  --color-text-success: var(--color-green-70);
  --color-danger: var(--color-red-60);
  --color-text-danger: var(--color-red-60);
  --color-line-danger: var(--color-red-30);
  --color-info: var(--color-cyan-40);
  --color-text-info: var(--color-cyan-70);
}

@theme dark {
  --stripe: 0 / 7.5px 7.5px linear-gradient(135deg, var(--color-line-muted) 4.5%, transparent 0, transparent 50%, var(--color-line-muted) 0, var(--color-line-muted) 54.5%, transparent 0) transparent;
  --stripe-pink: 0 / 7.5px 7.5px linear-gradient(135deg, --alpha(var(--color-pink) / 40%) 4.5%, --alpha(var(--color-pink) / 5%) 0, --alpha(var(--color-pink) / 5%) 50%, --alpha(var(--color-pink) / 40%) 0, --alpha(var(--color-pink) / 40%) 54.5%, --alpha(var(--color-pink) / 5%) 0, --alpha(var(--color-pink) / 5%));
  --tiny: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='white' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E") center;
  --grid: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255/ 0.02)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  --color-primary: var(--color-yellow-50);
  --color-float: var(--color-gray-70);
  --color-text-primary: var(--color-yellow-95);
  --color-accent: var(--color-amber-10);
  --color-focus: var(--color-amber-40);
  --color-success: var(--color-green-50);
  --color-text-success: var(--color-green-40);
  --color-danger: var(--color-red-50);
  --color-text-danger: var(--color-red-30);
  --color-line-danger: var(--color-red-80);
  --color-info: var(--color-cyan-50);
  --color-text-info: var(--color-cyan-40);
}
