@layer base, theme, preset, components, general;

@layer general {
    .content\:external\:\:after::after {
        content: " ↗";
    }

    .block\:\:before\,\:\:after::before, .block\:\:before\,\:\:after::after {
        display: block;
    }

    .hidden\:\:slider-thumb::-webkit-slider-thumb {
        display: none
    }
}