@import "./colors.css";

@theme {
  /* Font families */
  --font-family-sans: var(--font-sans, ui-sans-serif), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: var(--font-mono, ui-monospace), SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-family-serif: var(--font-serif, ui-serif), Georgia, Cambria, 'Times New Roman', Times, serif;

  /* Letter spacing */
  --tracking-tightest: -0.072em;
  --tracking-tighter: -0.04em;
  --tracking-tight: -0.02em;
  --tracking-normal: 0;
  --tracking-wide: 0.02em;
  --tracking-wider: 0.04em;
  --tracking-widest: 0.12em;

  /* Line heights */
  --leading-xs: 1.2;
  --leading-sm: 1.4;
  --leading-md: 1.6;
  --leading-lg: 1.8;
  --leading-xl: 2;

  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-heavy: 900;

  /* Font sizes */
  --font-size-3xs: 0.5rem;
  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 2.5rem;
  --font-size-6xl: 3rem;
  --font-size-7xl: 3.75rem;
  --font-size-8xl: 4.5rem;
  --font-size-9xl: 6rem;
  --font-size-10xl: 8rem;

  /* Font features */
  --font-feature-tabular: 'tnum';

  /* Content */
  --content-empty: '';

  /* Radii */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;

  /* Spacing */
  --spacing-4xs: 0.125rem;
  --spacing-3xs: 0.25rem;
  --spacing-2xs: 0.375rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 6rem;
  --spacing-5xl: 8rem;

  /* Breakpoints */
  --breakpoint-4xs: 22.5rem;
  --breakpoint-3xs: 30rem;
  --breakpoint-2xs: 37.5rem;
  --breakpoint-xs: 48rem;
  --breakpoint-sm: 52.125rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;

  /* Containers */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-8xl: 90rem;

  /* Durations */
  --duration-fastest: 75ms;
  --duration-faster: 100ms;
  --duration-fast: 150ms;
  --duration-normal: 200ms;
  --duration-slow: 300ms;
  --duration-slower: 500ms;
  --duration-slowest: 800ms;

  /* Easings */
  --easing-smooth: cubic-bezier(.4, 0, .2, 1);
  --easing-soft: cubic-bezier(.33, 1, .68, 1);
  --easing-crisp: cubic-bezier(.16, 1, .3, 1);
  --easing-snap: cubic-bezier(.2, 0, 0, 1);
  --easing-accelerate: cubic-bezier(.4, 0, 1, 1);
  --easing-decelerate: cubic-bezier(0, 0, .2, 1);
  --easing-overshoot: cubic-bezier(.34, 1.56, .64, 1);
  --easing-rewind: cubic-bezier(.36, 0, .66, -.56);
  --easing-spring: cubic-bezier(.68, -.6, .32, 1.6);

  /* Animations */
  --animate-fade: fade 1s infinite;
  --animate-flash: flash 1s infinite;
  --animate-float: float 3s ease-in-out infinite;
  --animate-heart: heart 1s infinite;
  --animate-jump: jump 1s infinite;
  --animate-ping: ping 1s infinite;
  --animate-pulse: pulse 1s infinite;
  --animate-rotate: rotate 1s linear infinite;
  --animate-shake: shake 1s infinite;
  --animate-zoom: zoom 1s infinite;

  /* Keyframes */
  @keyframes fade {
    0% {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes flash {
    0%, 50%, to {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0;
    }
  }

  @keyframes float {
    0% {
      transform: none;
    }

    50% {
      transform: translateY(-1.25rem);
    }

    to {
      transform: none;
    }
  }

  @keyframes heart {
    0% {
      transform: scale(1);
    }

    14% {
      transform: scale(1.3);
    }

    28% {
      transform: scale(1);
    }

    42% {
      transform: scale(1.3);
    }

    70% {
      transform: scale(1);
    }
  }

  @keyframes jump {
    0%, to {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, .2, 1);
    }
  }

  @keyframes ping {
    75%, to {
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes pulse {
    0% {
      transform: none;
    }

    50% {
      transform: scale(1.05);
    }

    to {
      transform: none;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(-360deg);
    }

    to {
      transform: none;
    }
  }

  @keyframes shake {
    0% {
      transform: none;
    }

    6.5% {
      transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
      transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
      transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
      transform: translateX(2px) rotateY(3deg);
    }

    50% {
      transform: none;
    }
  }

  @keyframes zoom {
    0% {
      transform: scale(0);
    }

    to {
      transform: none;
    }
  }
}

/* Light mode tokens */
@theme light {
  /* Shadows */
  --shadow-xs: 0 0 0 1px oklch(0% 0 none / .04), 0 1px 2px -1px oklch(0% 0 none / .08);
  --shadow-sm: 0 0 0 1px oklch(0% 0 none / .04), 0 1px 2px -1px oklch(0% 0 none / .06), 0 3px 6px -2px oklch(0% 0 none / .08);
  --shadow-md: 0 0 0 1px oklch(0% 0 none / .05), 0 2px 4px -2px oklch(0% 0 none / .06), 0 8px 16px -4px oklch(0% 0 none / .10);
  --shadow-lg: 0 0 0 1px oklch(0% 0 none / .05), 0 4px 8px -4px oklch(0% 0 none / .08), 0 16px 32px -8px oklch(0% 0 none / .12);
  --shadow-xl: 0 0 0 1px oklch(0% 0 none / .06), 0 8px 16px -6px oklch(0% 0 none / .10), 0 24px 48px -12px oklch(0% 0 none / .14);
  --shadow-2xl: 0 0 0 1px oklch(0% 0 none / .06), 0 12px 24px -8px oklch(0% 0 none / .12), 0 32px 64px -16px oklch(0% 0 none / .18);
}

/* Dark mode tokens */
@theme dark {
  /* Shadows */
  --shadow-xs: 0 0 0 1px oklch(100% 0 none / .04), 0 1px 2px -1px oklch(0% 0 none / .30);
  --shadow-sm: 0 0 0 1px oklch(100% 0 none / .05), 0 1px 2px -1px oklch(0% 0 none / .34), 0 3px 6px -2px oklch(0% 0 none / .26);
  --shadow-md: 0 0 0 1px oklch(100% 0 none / .06), 0 2px 4px -2px oklch(0% 0 none / .38), 0 8px 16px -4px oklch(0% 0 none / .30);
  --shadow-lg: 0 0 0 1px oklch(100% 0 none / .06), 0 4px 8px -4px oklch(0% 0 none / .42), 0 16px 32px -8px oklch(0% 0 none / .34);
  --shadow-xl: 0 0 0 1px oklch(100% 0 none / .07), 0 8px 16px -6px oklch(0% 0 none / .46), 0 24px 48px -12px oklch(0% 0 none / .38);
  --shadow-2xl: 0 0 0 1px oklch(100% 0 none / .07), 0 12px 24px -8px oklch(0% 0 none / .50), 0 32px 64px -16px oklch(0% 0 none / .44);
}

/* Inline aliases */
@theme inline {
  --full: 100%;

  --fit: fit-content;
  --max: max-content;
  --min: min-content;

  --order-first: -999999;
  --order-last: 999999;
}
