@import '@master/css';
@source './app.vue';

@theme {:root, :host {
  --color-host: #123456;
}}


@layer components {
  .box {
    display: flex;
    font-size: 1em;
    color: var(--color-host);
  }
}
